<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Promise Chain</title>
    </head>
    <body>
        <div class="wrapper-all" ng-controller="MainController as main">
            <div ng-repeat="item in main.fieldList track by $index">
                <container data-field="item" data-index="{{$index}}"></container>
            </div>
            <!--<container ng-repeat="item in main.fieldList" data-field="item"></container>-->
        </div>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/directive.js"></script>
    </body>
</html>